@model AdminTask.Models.Task

<h1>Eliminar Tarea</h1>

<div>
    <h4>¿Está seguro de que desea eliminar esta tarea?</h4>
    <h4>Título: @Model.Title</h4>
    <form asp-action="Eliminar">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Cancelar</a>
    </form>
</div>
